BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset" SITE "1" ;
LOCATE COMP "display[0]" SITE "77" ;
LOCATE COMP "display[1]" SITE "78" ;
LOCATE COMP "display[2]" SITE "81" ;
LOCATE COMP "display[3]" SITE "82" ;
LOCATE COMP "display[4]" SITE "83" ;
LOCATE COMP "display[5]" SITE "84" ;
LOCATE COMP "display[6]" SITE "85" ;
LOCATE COMP "sel[0]" SITE "73" ;
LOCATE COMP "sel[1]" SITE "74" ;
LOCATE COMP "sel[2]" SITE "75" ;
LOCATE COMP "sel[3]" SITE "76" ;
LOCATE COMP "stop_run" SITE "3" ;
