BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CI[23]" SITE "59" ;
LOCATE COMP "CI[22]" SITE "57" ;
LOCATE COMP "CI[21]" SITE "56" ;
LOCATE COMP "CI[20]" SITE "54" ;
LOCATE COMP "CI[19]" SITE "55" ;
LOCATE COMP "CI[18]" SITE "52" ;
LOCATE COMP "CI[17]" SITE "50" ;
LOCATE COMP "CI[16]" SITE "48" ;
LOCATE COMP "CI[15]" SITE "49" ;
LOCATE COMP "CI[14]" SITE "47" ;
LOCATE COMP "CI[13]" SITE "45" ;
LOCATE COMP "CI[12]" SITE "43" ;
LOCATE COMP "CI[11]" SITE "42" ;
LOCATE COMP "CI[10]" SITE "44" ;
LOCATE COMP "CI[9]" SITE "39" ;
LOCATE COMP "CI[8]" SITE "41" ;
LOCATE COMP "CI[7]" SITE "91" ;
LOCATE COMP "CI[6]" SITE "92" ;
LOCATE COMP "CI[5]" SITE "93" ;
LOCATE COMP "CI[4]" SITE "94" ;
LOCATE COMP "CI[3]" SITE "96" ;
LOCATE COMP "CI[2]" SITE "95" ;
LOCATE COMP "CI[1]" SITE "98" ;
LOCATE COMP "CI[0]" SITE "97" ;
LOCATE COMP "reset" SITE "1" ;
LOCATE COMP "display[0]" SITE "77" ;
LOCATE COMP "display[1]" SITE "78" ;
LOCATE COMP "display[2]" SITE "81" ;
LOCATE COMP "display[3]" SITE "82" ;
LOCATE COMP "display[4]" SITE "83" ;
LOCATE COMP "display[5]" SITE "84" ;
LOCATE COMP "display[6]" SITE "85" ;
LOCATE COMP "sel[0]" SITE "73" ;
LOCATE COMP "sel[1]" SITE "74" ;
LOCATE COMP "sel[2]" SITE "75" ;
LOCATE COMP "sel[3]" SITE "76" ;
LOCATE COMP "stop_run" SITE "3" ;
